<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" >
<listeners>
<listener class-name="Academy.Listeners"></listener>
</listeners>
	<test thread-count="5" name="HomePageTest">
		<classes>
			<class name="Academy.HomePageTest" />
		</classes>
	</test>

	<test thread-count="5" name="ValidateTitleTest">
		<classes>
			<class name="Academy.ValidateTitleTest" />
		</classes>
	</test>

	<test thread-count="5" name="ValidateNavigationTest">
		<classes>
			<class name="Academy.ValidateNavigationTest" />
		</classes>



	</test> <!-- Test -->
</suite> <!-- Suite -->
